<% include header.ejs %>

<% if (!model) { %>
<div class="row">
	<div class="offset3 span6 alert">
		Taková mapa (<%= mapId %>) ale neexistuje...
	</div>
</div>
<% } else { %>
	<h1><%= model.title %></h1>
	<div class="row">
		<div class="feelings">
			<% for (var i=0; i<model.feelings.length; i++) { feeling=model.feelings[i]; %>
				<div class="btn" id="feeling<%=i%>">
					<div style="background-color: <%= feeling.color %>; width: 1em; height: 0.8em; display: inline-block;"> </div>
					<%= feeling.text %>
				</div>
				<script type="text/javascript">
					$("#feeling<%=i%>").click(function(){
						setFeeling(<%=i%>, "<%= feeling.color %>");
						$(".feelings .btn").removeClass("active");
						$("#feeling<%=i%>").addClass("active");
					});
				</script>
			<% } %>
			<script type="text/javascript">
				$(document).ready(function() {
					$("#feeling0").click();
				});
			</script>
		</div>
		<button id="pointSelect" class="sel">Misto</button>
	  	<button id="polylineSelect" class="unsel">Klikata cara</button>
	  	<button id="polygonSelect" class="unsel">Oblast</button>
		<div class="span8">
			<div id="map"></div>
		</div>
		<div class="span4">

		  	<button id="save">Hotovo!</button>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			initialize_map({
				lat: <%= model.latlon[0] %>,
				lng: <%= model.latlon[1] %>
			}, <%= model.zoom %>);

			  $("#pointSelect").click(function() {
			    selectionMode = POINTS;
			    actualPolyline = undefined;
			    actualPolygon = undefined;

			    $(".sel").removeClass("sel").addClass("unsel");
			    $("#pointSelect").addClass("sel").removeClass("unsel");
			  });
			  $("#polylineSelect").click(function() {
			    selectionMode = POLYLINES;
			    actualPolyline = undefined;
			    actualPolygon = undefined;
			    
			    $(".sel").removeClass("sel").addClass("unsel");
			    $("#polylineSelect").addClass("sel").removeClass("unsel");
			  });
			  $("#polygonSelect").click(function() {
			    selectionMode = POLYGONS;
			    actualPolyline = undefined;
			    actualPolygon = undefined;
			    
			    $(".sel").removeClass("sel").addClass("unsel");
			    $("#polygonSelect").addClass("sel").removeClass("unsel");
			  });

			  $("#save").click(function() {
			    $.post("save",
			      {
			        "shapes": exportJson()
			      }, function(data) {
			        console.log(data);
			      });
			  });
		});
	</script>
<% }; %>

<% include footer.ejs %>