<% include header.ejs %>

<% if (!model) { %>
<div class="row">
	<div class="offset3 span6 alert">
		Taková mapa (<%= mapId %>) ale neexistuje...
	</div>
</div>
<% } else { %>
	<script type="text/javascript">
		tIdToMarkers = new Object();
		tId = 0;

		$(document).ready(function() {
			map = initialize_map({
				lat: <%= model.latlon[0] %>,
				lng: <%= model.latlon[1] %>
			}, <%= model.zoom %>);

			drawingManager = new google.maps.drawing.DrawingManager({
				drawingMode: google.maps.drawing.OverlayType.MARKER,
				drawingControl: true,
				drawingControlOptions: {
				position: google.maps.ControlPosition.TOP_CENTER,
				drawingModes: [
					google.maps.drawing.OverlayType.MARKER,
					google.maps.drawing.OverlayType.POLYGON,
					google.maps.drawing.OverlayType.POLYLINE,
				]
				},
			});
			drawingManager.setMap(map);

			var kmlLayer = new google.maps.KmlLayer('http://pocitovamapa.herokuapp.com/kml/<%= mapId %>?t=<%= new Date().getTime() %>', { preserveViewport: true });
			kmlLayer.setMap(map);

			google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
			  var overlayInfo;	// information we are going to serialize
			  var position;		// where info window will be pointing

		      if(event.type == google.maps.drawing.OverlayType.POLYLINE) {
		        polyline = event.overlay;
			    polyline.setOptions({
			    	strokeColor: actualFeeling.color,
			    });
			    overlayInfo = {
			        path: polyline.getPath().getArray(),
			        feeling: actualFeeling.id,
			        polyline: polyline
			    };
			    position = polyline.getPath().getAt(polyline.getPath().getLength() - 1);
			    selected.polylines.push(overlayInfo);
		      }
		      else if (event.type == google.maps.drawing.OverlayType.POLYGON) {
		      	polygon = event.overlay;
		      	polygon.setOptions({
		      		strokeColor: actualFeeling.color,
		      		fillColor: actualFeeling.color,
		      	});
			    overlayInfo = {
			        path: polygon.getPath().getArray(),
			        feeling: actualFeeling.id,
			        polygon: polygon
			    }
			    position = polygon.getPath().getAt(0);
			    selected.polygons.push(overlayInfo);
		      }
		      else if(event.type == google.maps.drawing.OverlayType.MARKER) {
		        var marker = event.overlay;
		        overlayInfo = {
			    	location: marker.getPosition(),
			    	feeling: actualFeeling.id,
			    	marker: marker
			    }
			    position = marker.getPosition();
			    selected.points.push(overlayInfo);
		      }

			  // show info window
			  tId++;
			  tIdToMarkers["t" + tId] = overlayInfo;
			  var popuper = infoWindowPopuper(tId, overlayInfo, position);
	          google.maps.event.addListener(event.overlay, 'click', popuper);
	          popuper.call(event.overlay) // show info window after point has been added
		    });

			// insert feeling selector buttons into map
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('feelingsControl'));

			$("#save").click(function() {
			  $.post("save", exportJson(), function(data) {
			      window.location.href = "show";
			    });
			});
		});
	</script>

	<script type="text/javascript">window.model = <%- JSON.stringify(model) %>;</script>
	<div class="row">
		<div class="span12">
			<h1><%= model.title %></h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<span class="hidden"><div class="feelings" id="feelingsControl">
			<% for (var i=0; i<model.feelings.length; i++) { feeling=model.feelings[i]; %>
				<div class="mapControls feelingBox" id="feeling<%=i%>">
					<div class="feelingColorBox" style="background-color: <%= feeling.color %>;"> </div>
					<%= feeling.text %>
				</div>
				<script type="text/javascript">
					$("#feeling<%=i%>").click(function(){
						setFeeling(<%=i%>, "<%= feeling.color %>");
						$(".feelings .mapControls").removeClass("active");
						$("#feeling<%=i%>").addClass("active");
						drawingManager.setOptions({
							markerOptions: {
								icon: {
									path: google.maps.SymbolPath.CIRCLE,
								    scale: 15,
								    fillColor: "<%= feeling.color %>",
								    fillOpacity: 0.5,
								    strokeColor: "<%= feeling.color %>",
								    strokeWeight: 1,
								    clickable: true,
								},
							},
							polygonOptions: {
								fillColor: "<%= feeling.color %>",
							    fillOpacity: 0.5,
							    strokeColor: "<%= feeling.color %>",
							    strokeWeight: 1,
							    clickable: true,
							},
							polylineOptions: {
								fillColor: "<%= feeling.color %>",
							    fillOpacity: 0.5,
							    strokeColor: "<%= feeling.color %>",
							    strokeWeight: 2,
							    clickable: true,
							}
						});
					});
				</script>
			<% } %>
			<script type="text/javascript">
				$(document).ready(function() {
					$("#feeling0").click();
				});
			</script>
		</div></span>
		<div class="span12" id="map_canvas">
		</div>
	</div>
	<div class="row criteria">
		<div class="span6 offset3">
			<h2>Ještě pár drobností...</h2>

			<% for (var i=0; i<model.criteria.length; i++) { criterion = model.criteria[i]; %>
				<p><%= criterion.text %>
				<div>
					<% if (criterion.type === "text") { %>
						<textarea id="criterion<%=i%>"></textarea>
					<% } else { %>
						<select id="criterion<%=i%>">
							<% for (var j=0; j<criterion.options.length; j++) { %>
							<option value="<%=j%>"><%=criterion.options[j]%></option>
							<% } %>
						</select>
					<% }; %>
				</div>
			<% }; %>

		  	<button id="save" class="save btn btn-success action">Hotovo!</button>
		</div>
	</div>
<% }; %>

<% include footer.ejs %>