<% include header.ejs %>

<% if (!model) { %>
<div class="row">
	<div class="offset3 span6 alert">
		Taková mapa (<%= mapId %>) ale neexistuje...
	</div>
</div>
<% } else { %>
	<script type="text/javascript">window.model = <%- JSON.stringify(model) %>;</script>
	<h1><%= model.title %></h1>
	<div class="row">
		<div class="span12 feelings">
			<% for (var i=0; i<model.feelings.length; i++) { feeling=model.feelings[i]; %>
				<div class="btn feelingBox" id="feeling<%=i%>">
					<div class="feelingColorBox" style="background-color: <%= feeling.color %>;"> </div>
					<%= feeling.text %>
				</div>
				<script type="text/javascript">
					$("#feeling<%=i%>").click(function(){
						setFeeling(<%=i%>, "<%= feeling.color %>");
						$(".feelings .btn").removeClass("active");
						$("#feeling<%=i%>").addClass("active");
					});
				</script>
			<% } %>
			<script type="text/javascript">
				$(document).ready(function() {
					$("#feeling0").click();
				});
			</script>

			<div id="map">
			</div>
		</div>
	</div>
	<div class="row criteria">
		<div class="span6 offset3">
			<h2>Ještě pár drobností...</h2>

			<% for (var i=0; i<model.criteria.length; i++) { criterion = model.criteria[i]; %>
				<p><%= criterion.text %>
				<div>
					<% if (criterion.type === "text") { %>
						<textarea id="criterion<%=i%>"></textarea>
					<% } else { %>
						<select id="criterion<%=i%>">
							<% for (var j=0; j<criterion.options.length; j++) { %>
							<option value="<%=j%>"><%=criterion.options[j]%></option>
							<% } %>
						</select>
					<% }; %>
				</div>
			<% }; %>

		  	<button id="save" class="save btn btn-success action">Hotovo!</button>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			map = initialize_map({
				lat: <%= model.latlon[0] %>,
				lng: <%= model.latlon[1] %>
			}, <%= model.zoom %>);

			$polygonSelect = $("<div>",
			{
				id: "polygonSelect",
				class: "polygonSelectUnselected",
				click: function() {
				    selectionMode = POLYGONS;
				    actualPolyline = undefined;
				    actualPolygon = undefined;

				    $(".polylineSelectSelected").removeClass("polylineSelectSelected").addClass("polylineSelectUnselected");
				    $(".polygonSelectUnselected").removeClass("polygonSelectUnselected").addClass("polygonSelectSelected");
				    $(".noSelectSelected").removeClass("noSelectSelected").addClass("noSelectUnselected");
				    $(".pointSelectSelected").addClass("pointSelectUnselected").removeClass("pointSelectSelected");
			    },
			    html: "<div></div>"
			});
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push($polygonSelect.get(0));

			$polylineSelect = $("<div>",
			{
				id: "polylineSelect",
				class: "polylineSelectUnselected",
				click: function() {
					selectionMode = POLYLINES;
				    actualPolyline = undefined;
				    actualPolygon = undefined;

				    $(".polylineSelectUnselected").removeClass("polylineSelectUnselected").addClass("polylineSelectSelected");
				    $(".polygonSelectSelected").removeClass("polygonSelectSelected").addClass("polygonSelectUnselected");
				    $(".noSelectSelected").removeClass("noSelectSelected").addClass("noSelectUnselected");
				    $(".pointSelectSelected").addClass("pointSelectUnselected").removeClass("pointSelectSelected");
				}
			});
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push($polylineSelect.get(0));

			$pointSelect = $("<div>",
			{
				id: "pointSelect",
				class: "pointSelectSelected",
				click: function() {
				    selectionMode = POINTS;
				    actualPolyline = undefined;
				    actualPolygon = undefined;

				    $(".polylineSelectSelected").removeClass("polylineSelectSelected").addClass("polylineSelectUnselected");
				    $(".polygonSelectSelected").removeClass("polygonSelectSelected").addClass("polygonSelectUnselected");
				    $(".noSelectSelected").removeClass("noSelectSelected").addClass("noSelectUnselected");
				    $(".pointSelectUnselected").addClass("pointSelectSelected").removeClass("pointSelectUnselected");
				  }
			});
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push($pointSelect.get(0));

			$("#save").click(function() {
			  $.post("save", exportJson(), function(data) {
			      window.location.href = "show";
			    });
			});
		});
	</script>
<% }; %>

<% include footer.ejs %>