<% include header.ejs %>

<% if (!model) { %>
<div class="row">
	<div class="offset3 span6 alert">
		Taková mapa (<%= mapId %>) ale neexistuje...
	</div>
</div>
<% } else { %>
	<div class="row">
		<div class="span12">
			<h1><%= model.title %></h1>
			<hr>
		</div>
	</div>

	<div class="row">
	    <div id="map_canvas" class="span12"></div>
	</div>

	<div class="row">
		<div class="span12">
			<p><a href='/maps/<%= model._id %>/fill'>Zadat vlastní pocity</a><% if (model.creator===user && user) { %> · <a href='/maps/<%= model._id %>/edit'>Upravit definici mapy</a> (jste autorem) <% }; %>
			<p><%- model.comment %></p>
			<% start = new Date(model.start); end = new Date(model.end); %>
			<p class="dateInfo"><%= start.getDate() %>. <%= start.getMonth() %>. <%= start.getFullYear() %> – <%= end.getDate() %>. <%= end.getMonth() %>. <%= end.getFullYear() %></p>
		</div>
	</div>
<% } %>

<script>
$(window).load(function() {
var map;
var mapOptions = {
		zoom: <%=model.zoom%>,
		center: new google.maps.LatLng(<%=model.latlon%>),
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		styles: [
				  {
				    "elementType": "labels",
				    "stylers": [
				      { "visibility": "off" }
				    ]
				  },{
				    "stylers": [
				      { "saturation": -75 }
				    ]
				  },{
				    "featureType": "road",
				    "stylers": [
				      { "weight": 1 }
				    ]
				  }
				]
};
map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
/*
var drawingManager = new google.maps.drawing.DrawingManager({
	drawingMode: google.maps.drawing.OverlayType.MARKER,
	drawingControl: true,
	drawingControlOptions: {
	position: google.maps.ControlPosition.TOP_CENTER,
	drawingModes: [
		google.maps.drawing.OverlayType.MARKER,
		google.maps.drawing.OverlayType.POLYGON,
		google.maps.drawing.OverlayType.POLYLINE,
	]
	},
	markerOptions: {
		icon: {
			path: google.maps.SymbolPath.CIRCLE,
		    scale: 5,
		    fillColor: "#ff0000",
		    fillOpacity: 0.5,
		    strokeColor: "#ff0000",
		    strokeWeight: 1,
		    clickable: true,
		},
	},
});
drawingManager.setMap(map);*/

var points = [<%- points %>];
var lines = [<%- lines %>];
var polygons = [<%- polygons %>];

for (var i = 0; i < points.length; i++) {
	var f = function () {
		var point = points[i];
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(points[i]['lat'], points[i]['lng']),
			map: map,
			icon: {
				path: google.maps.SymbolPath.CIRCLE,
	            scale: 5,
	            fillColor: points[i]['color'],
	            fillOpacity: 0.5,
	            strokeColor: points[i]['color'],
	            strokeWeight: 0,
	            clickable: true,
			},
			title: points[i]['text'],
		});

		google.maps.event.addListener(marker, 'click', function () {
			var infoWindow = new google.maps.InfoWindow();
			infoWindow.setContent(point['text']);
			infoWindow.open(map, this);
		});
	};
	f();
}

for (var i = 0; i < lines.length; i++) {
	var f = function () {
		var line = lines[i];
		var path = [];
		for (var j = 0; j < line['path'].length; j++) {
			path.push(new google.maps.LatLng(line['path'][j]['lat'], line['path'][j]['lng']));
		}
		var polyline = new google.maps.Polyline({
			path: path,
			strokeColor: line['color'],
          	strokeOpacity: 1.0,
          	strokeWeight: 2
		});
		polyline.setMap(map);

		google.maps.event.addListener(polyline, 'click', function (event) {
			var marker = new google.maps.Marker({
				position: event.latLng,
			});
			var infoWindow = new google.maps.InfoWindow();
			infoWindow.setContent(line['text']);
			infoWindow.open(map, marker);
		});
	};
	f();
}

for (var i = 0; i < polygons.length; i++) {
	var f = function () {
		var polygon = polygons[i];
		var path = [];
		for (var j = 0; j < polygon['path'].length; j++) {
			path.push(new google.maps.LatLng(polygon['path'][j]['lat'], polygon['path'][j]['lng']));
		}
		var gpolygon = new google.maps.Polygon({
			paths: path,
			strokeColor: polygon['color'],
          	strokeOpacity: 1.0,
			fillColor: polygon['color'],
          	fillOpacity: 0.1,
          	strokeWeight: 0
		});
		gpolygon.setMap(map);

		google.maps.event.addListener(gpolygon, 'click', function (event) {
			var marker = new google.maps.Marker({
				position: event.latLng,
			});
			var infoWindow = new google.maps.InfoWindow();
			infoWindow.setContent(polygon['text']);
			infoWindow.open(map, marker);
		});
	};
	f();
}
});
</script>

<style>
#map_canvas {
	height: 500px;
	padding-left: 0;
}
</style>

<% include footer.ejs %>