<% include header.ejs %>

<% if (!model) { %>
<div class="row">
	<div class="offset3 span6 alert">
		Taková mapa (<%= mapId %>) ale neexistuje...
	</div>
</div>
<% } else { %>
	<div class="row">
		<div class="span12">
			<h1><%= model.title %></h1>
			<hr>
		</div>
	</div>

	<div class="row">
	    <div id="map_canvas" class="span12"></div>
	</div>

	<div class="row">
		<div class="offset3 span6">
			<p><a href='/maps/<%= model._id %>/fill'>Zadat vlastní pocity</a><% if (model.creator===user && user) { %> · <a href='/maps/<%= model._id %>/edit'>Upravit definici mapy</a> (jste autorem) <% }; %>
			<p><%- model.comment %></p>
			<% start = new Date(model.start); end = new Date(model.end); %>
			<p class="dateInfo"><%= start.getDate() %>. <%= start.getMonth() %>. <%= start.getFullYear() %> – <%= end.getDate() %>. <%= end.getMonth() %>. <%= end.getFullYear() %></p>
		</div>
	</div>
<% } %>

<script>
$(window).load(function() {
var map;
var mapOptions = {
		zoom: <%=model.zoom%>,
		center: new google.maps.LatLng(<%=model.latlon%>),
		mapTypeId: google.maps.MapTypeId.ROADMAP
};
map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

var points = [<%- points %>];

for (var i = 0; i < points.length; i++) {
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(points[i]['lat'], points[i]['lng']),
		map: map,
		icon: {
			path: google.maps.SymbolPath.CIRCLE,
            scale: 5,
            fillColor: points[i]['color'],
            fillOpacity: 0.5,
            strokeColor: points[i]['color'],
            strokeWeight: 1,
            clickable: true,
		},
		title: points[i]['text'],
	});
}
});
</script>

<style>
#map_canvas {
	height: 500px;
	padding-left: 0;
}
</style>

<% include footer.ejs %>