<% include header.ejs %>

<% if (!model) { %>
<div class="row">
	<div class="offset3 span6 alert">
		Taková mapa (<%= mapId %>) ale neexistuje...
	</div>
</div>
<% } else { %>
	<div class="row">
		<div class="span12">
			<h1><%= model.title %></h1>
			<hr>
		</div>
	</div>

	<div class="row">
	    <div id="map_canvas" class="span12"></div>
	</div>

	<div class="row">
		<div class="span12">
			<p><a href='/maps/<%= model._id %>/fill'>Zadat vlastní pocity</a><% if (model.creator===user && user) { %> · <a href='/maps/<%= model._id %>/edit'>Upravit definici mapy</a> (jste autorem) <% }; %>
			<p><%- model.comment %></p>
			<% start = new Date(model.start); end = new Date(model.end); %>
			<p class="dateInfo"><%= start.getDate() %>. <%= start.getMonth() %>. <%= start.getFullYear() %> – <%= end.getDate() %>. <%= end.getMonth() %>. <%= end.getFullYear() %></p>
		</div>
	</div>
<% } %>

<script>
$(window).load(function() {
var map;
var mapOptions = {
		zoom: <%=model.zoom%>,
		center: new google.maps.LatLng(<%=model.latlon%>),
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		styles: [
				  {
				    "elementType": "labels",
				    "stylers": [
				      { "visibility": "off" }
				    ]
				  },{
				    "stylers": [
				      { "saturation": -75 }
				    ]
				  },{
				    "featureType": "road",
				    "stylers": [
				      { "weight": 1 }
				    ]
				  }
				]
};
map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

// TODO(davidmarek): Nasadit na server a zmenit adresu.
var kmlLayer = new google.maps.KmlLayer('http://pastebin.com/raw.php?i=0in3jzKc&1');
kmlLayer.setMap(map);
});
</script>

<style>
#map_canvas {
	height: 500px;
	padding-left: 0;
}
</style>

<% include footer.ejs %>